<style>
  text {
    font: 10px sans-serif;
  }
</style>
  <h1 class="chart-title">Flatiron School</h1>
  <div class="bubble-chart"></div>
  <!-- link to bubble.js here -->
  <script type="text/javascript" src="/assets/bubble.js"></script>
