 <script>
    $(document).ready(function() {
      URL = "/solari_pull_day.json";
      REFRESH_TIME = 1;
      addSolariBoard(".solari");
    });
</script>
<div class="solari">
</div>

<!-- you will need to append information to the solari.js -->