// Place all the styles related to the data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#footer {
  font-family: Georgia, Times, serif;
  font-size: 12px;
  color: gray;
}

div#footer a {
  font-family: Georgia, Times, serif;
  font-size: 12px;
  color: gray;
}



.chart-title {
  color: blue;
}

.chart_page {
  padding-top: 0;
}

body {
  padding-top: 0;
}